.card-container{
    padding: 1rem;
    .card {
            height: auto;
            background-color: #343a3c;
            padding: 2px;
            border-radius: 15px;

            .card-header{
                border: 5px solid #343a3c;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 10px;
            }
    
            .card-body {
                width: 98%;
                margin: 0 auto;
                background-color: #171718;
    
                border-bottom-right-radius: 5px;
                border-bottom-right-radius: 5px;
             
         
            
            #prize{
                width: 100%;
                height: auto;
                background-color: #343a3c;
                margin: 10px auto;
                border-radius: 10px;
                padding: 10px;

                    .badge-number {
                            background-color: rgb(34, 34, 34);
                            border-radius: 50%;
                            padding: 0.25rem 0.5rem;
                            font-size: 0.8rem;
                            margin-right: 5px;
                        }
                            ul{
                                overflow-y: scroll;
                            }                     
                li{ 
                    width: 96%;
                    background-color: #212529;
                    border-radius: 8px;
                    margin: 10px auto;
                    color: white;
                    padding: 15px;
                    

                   
                    img{
                        padding-right: 7px;
                        float: left;
                    }
                  
                }

            } 
        }     }
        }
    
.ul-wrapper{
    #title{
        div{
            font-size: 15px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    }
    background-color: #343a3c;
    border-radius: 10px;
    height: 380px;
    overflow-y: scroll;
    .eachrow {
            width: 100%;
            margin: 10px auto;
            color: white;
            font-size: 15px;
             background-color: #212529;
             padding: 8px;
         
             div{
                font-family:'Courier New', Courier, monospace;
                span{
                    background-color: rgb(51, 51, 58);
                    border-radius: 50%;
                }
             }
        }
}

.ul-wrapper::-webkit-scrollbar {
    width: 5px;
    height: 90%;
}

/* Style for the scrollbar thumb */
.ul-wrapper::-webkit-scrollbar-thumb {
    background-color: orange!important;
    border-radius: 4px;
}

/* Style for the scrollbar track */
.ul-wrapper::-webkit-scrollbar-track {
    background-color: #212529;
    
}


@media only screen and(max-width:600px) {
    .card-container{
        padding: 10px;
        .card{
            padding: 0;
            .card-body{
                background-color:#212529;
            }
        }
    }
}




@media only screen and(max-width:400px){
 .card-container{
    .card-body{
        padding: 0;
        .ul-wrapper{
            padding: 0;
           
            .eachrow{
                padding: 0 20px;
                width: 100%;
               div{
                padding: 0;
               }
                
            }
        }
    }
 }
}