<div id="card1" class="card p-sm-2 p-0">
  <img src="assets/final-info-img.jpg" class="card-img-top" alt="..." />
  <div class="card-title">
    <p style="font-size: 15px" class="h5 text-white mt-2">
      გაემგზავრე THE FESTIVAL IN MALTA-ზე
    </p>
  </div>
  <div class="card-text">
    <p style="font-size: 14px" class="text-center text-white">
      The Festival სერიების ფარგლებში, ევროპაბეთი უკვე მეორედ აძლევს პოკერის
      მოთამაშეებს დაუვიწყარი მოგზაურობის შანსს
    </p>
  </div>

  <div
    class="malta-festival text-center"
    style="border-radius: 10px; background-color: #343a3c; padding: 5px"
  >
    <p style="font-size: 14px; font-weight: 500" class="text-white text-center">
      15-დან 21 მაისის ჩათვლით მალტა პოკერის ფესტივალს უმასპინძლებს
    </p>
  </div>
  <div id="A-category" class="row gx-2 gy-2 mt-2">
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <p>A კატეგორიის საგზურში შედის</p>
        </div>
        <div class="card-body">
          <div class="item w-100 rounded">
            <img class="text-center" src="assets/ticket-icon-sm.png" alt="" />
            <p class="" style="font-size: 10px">ორმხრივი ავიაბილეთი</p>
          </div>
          <div class="item w-100 rounded">
            <img
              class="text-center"
              src="assets/final-item-event-icon.png"
              alt=""
            />
            <p class="" style="font-size: 10px">
              The festival in Malta-ს მეინ ივენთის ბაი-ინი
            </p>
          </div>
          <div class="item w-100 rounded py-3">
            <img class="text-center" src="assets/ticket-icon-sm.png" alt="" />
            <p class="text" style="font-size: 10px">
              Holdem ან Omaha ჰაიროლერ ტურნირის ბაი-ინი
            </p>
          </div>
          <div class="item w-100 rounded">
            <img src="assets/final-item-hotel-icon.png" alt="" />
            <p class="" style="font-size: 10px">
              სასტუმრო Golden Tulip Vivaldi Hotel
            </p>
          </div>
          <div class="item w-100 rounded">
            <img
              class="text-center"
              src="assets/final-item-hotel-icon.png"
              alt=""
            />
            <p class="assets/final-item-money-icon.png" style="font-size: 10px">
              $500 სახარჯო ფული
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <p>A კატეგორიის საგზურში შედის</p>
        </div>
        <div class="card-body">
          <div class="item w-100 rounded">
            <img class="text-center" src="assets/ticket-icon-sm.png" alt="" />
            <p class="" style="font-size: 10px">ორმხრივი ავიაბილეთი</p>
          </div>
          <div class="item w-100 rounded">
            <img
              class="text-center"
              src="assets/final-item-event-icon.png"
              alt=""
            />
            <p class="" style="font-size: 10px">
              The festival in Malta-ს მეინ ივენთის ბაი-ინი
            </p>
          </div>
          <div class="item w-100 rounded py-3">
            <img class="text-center" src="assets/ticket-icon-sm.png" alt="" />
            <p class="text" style="font-size: 10px">
              Holdem ან Omaha ჰაიროლერ ტურნირის ბაი-ინი
            </p>
          </div>
          <div class="item w-100 rounded">
            <img src="assets/final-item-hotel-icon.png" alt="" />
            <p class="" style="font-size: 10px">
              სასტუმრო Golden Tulip Vivaldi Hotel
            </p>
          </div>
          <div class="item w-100 rounded">
            <img
              class="text-center"
              src="assets/final-item-hotel-icon.png"
              alt=""
            />
            <p class="assets/final-item-money-icon.png" style="font-size: 10px">
              $500 სახარჯო ფული
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <p>A კატეგორიის საგზურში შედის</p>
        </div>
        <div class="card-body">
          <div class="item w-100 rounded">
            <img class="text-center" src="assets/ticket-icon-sm.png" alt="" />
            <p class="" style="font-size: 10px">ორმხრივი ავიაბილეთი</p>
          </div>
          <div class="item w-100 rounded">
            <img
              class="text-center"
              src="assets/final-item-event-icon.png"
              alt=""
            />
            <p class="" style="font-size: 10px">
              The festival in Malta-ს მეინ ივენთის ბაი-ინი
            </p>
          </div>

          <div class="item w-100 rounded">
            <img
              class="text-center"
              src="assets/final-item-hotel-icon.png"
              alt=""
            />
            <p class="assets/final-item-money-icon.png" style="font-size: 10px">
              $500 სახარჯო ფული
            </p>
          </div>
          <div class="item w-100 rounded">
            <img src="assets/final-item-hotel-icon.png" alt="" />
            <p class="" style="font-size: 10px">სასტუმრო</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="prize" class="row mt-3 p-2">
  <div class="card">
    <div class="card-header text-center font-monospace fs-5">
      მოიგე საგზური 30 აპრილის ფინალურ ტურნირებზე
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="nested-div">
            <p>" CashGame highRollers"</p>
            <img src="assets/poker-item-2-ticket-icon.png" alt="" />
          </div>
          <div class="nested-div">
            <p>" CashGame Grinders"</p>
            <img src="assets/poker-item-2-ticket-icon.png" alt="" />
          </div>
          <div class="nested-div">
            <p>"Tournament Sharks"</p>
            <img src="assets/poker-item-2-ticket-icon.png" alt="" />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="nested-div2">
            <h6 class="mt-3">"The festival in malta,GTD"</h6>
            <small class="d-block">A კატეგორიის 1 საგზური</small>
            <small class="d-block">B კატეგორიის 1 საგზური</small>
            <p style="font-size: 12px; color: #acacac" class="d-block">
              ტურნირში მონაწილეობა შეუძლია ნებისმიერ მსურველს 165₾ -იანი
              ბაი-ინის გადახდით
            </p>
            <img src="assets/poker-item-2-ticket-icon.png" alt="" />
          </div>
          <div class="nested-div2">
            <h6 class="mt-3">"The Lord Of The,Rings"</h6>
            <small class="d-block">C კატეგორიის 1 საგზური</small>
            <p style="font-size: 12px; color: #acacac" class="d-block">
              ტურნირში მონაწილეობა შეუძლია ნებისმიერ მსურველს 165₾ -იანი
              ბაი-ინის გადახდით
            </p>
            <img src="assets/poker-item-2-ticket-icon.png" alt="" />
          </div>
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <div class="col-12 col-md-8 text-secondary">
          <p style="font-size: 14px" class="text-center">
            * თუ მოთამაშე მოიგებს ბეჭედს ორჯერ ან მეტჯერ, ის The Lord of the
            Rings ტურნირზე მოხვდება ბეჭედის შესაბამისი რაოდენობის სტეკით
          </p>
          <span style="font-size: 11px" class="text-center"
            >*ტურნირში მონაწილეობის მიღება შეუძლია ნებისმიერ მსურველს 165₾-იანი
            ბაი-ინის გადახდით</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mystic-key mt-4 p-2">
  <div class="row">
    <div class="card">
      <div class="card-header text-center">
        <p style="color: rgb(238, 175, 59)" class="fs-1">მისტიური გასაღები</p>
      </div>
      <div class="card-body">
        <p style="font-size: 14px" class="text-center text-white">
          მოთამაშეები გარკვეული საპრიზო ადგილების დაკავების შემთხვევაში მიიღებენ
          საიდუმლო გასაღებს
        </p>
        <div class="ul-wrapper p-2">
          <ul class="list-unstyled">
            <li class="d-flex rounded-pill p-2 mt-2 align-items-center">
              <span class="badge rounded-circle me-2 text-center">1</span>
              <small>სპეციალური ტურნირი Cashgame Shark2 ადგილი</small>
            </li>
            <li class="d-flex rounded-pill p-2 mt-2 align-items-center">
              <span class="badge rounded-circle me-2 text-center">2</span>
              <small>სპეციალური ტურნირი Cashgame Shark2 ადგილი</small>
            </li>
            <li class="d-flex rounded-pill p-2 mt-2 align-items-center">
              <span class="badge rounded-circle me-2 text-center">3</span>
              <small>სპეციალური ტურნირი Tournament Shark2 ადგილი</small>
            </li>
            <li class="d-flex rounded-pill p-2 mt-2 align-items-center">
              <span class="badge rounded-circle me-2 text-center">4</span>
              <small>სპეც. ტურნირი Tournament Shark2 ადგილი</small>
            </li>
            <li class="d-flex rounded-pill p-2 mt-2 align-items-center">
              <span class="badge rounded-circle me-2 text-center">5</span>
              <small>Holdem Grinders ლიდერბორდის გამარჯვებული</small>
            </li>
            <li class="d-flex rounded-pill p-2 mt-2 align-items-center">
              <span class="badge rounded-circle me-2 text-center">6</span>
              <small>ქეშგეიმ დაბალი ლიმიტების ლიდერბორდის გამარჯვებულები</small>
            </li>
            <li class="d-flex rounded-pill p-2 mt-2 align-items-center">
              <span class="badge rounded-circle me-2 text-center">7</span>
              <small
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor,
                consequuntur!</small
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
