<div class="modal-highlight"></div>
<div class="container" id="container">
  <div id="close-btn" class="row d-none d-md-flex justify-content-between">
    <div
      class="col-md-6 col-lg-6 d-flex justify-content-between align-items-center"
    >
      <span
        class="px-lg-2"
        style="font-size: 10px; background-color: rgb(151, 150, 150)"
        >სლოტები</span
      ><small class="font-monospace">10 იანვარი-12მარტი</small>
    </div>
    <div class="col-md-6 col-lg-6 text-end">
      <span class="badge rounded-pill p-2">X</span>
    </div>
  </div>
  <nav class="navbar bg-body-tertiary p-2 d-sm-none" style="width: 100%">
    <a class="navbar-brand"><img src="../assets/logo.png" /></a>
    <div class="btns">
      <button class="btn btn-sm text-white">Sign up</button>
      <button class="btn btn-sm text-white">Sign In</button>
    </div>
  </nav>
  <img src="../assets/banner.jpg" class="card-img-top" alt="..." />
  <div class="header-text text-white p-1 p-sm-5">
    <p class="fs-5 font-monospace">
      მოიპოვე
      <span
        style="font-weight: 600; font-size: 15px"
        class="d-none d-sm-inline font-monospace"
      >
        მრავალფეროვანი პრიზები და</span
      >
      10 საგზურიდან ერთ-ერთი
    </p>
    <p id="malta">მოხვდი პოკერის ფესტივალზე მალტაში</p>
  </div>
  <div class="buttons d-flex justify-content-around">
    <button
      routerLink="/cashgames"
      id="cashgames"
      routerLinkActive="active"
      class="btn btn-lg d-flex flex-column text-white"
    >
      <span class="text-center">1-29 აპრილი</span>
      <span class="text-center">Cash Games</span>
    </button>
    <button
      routerLink="/spring-series"
      routerLinkActive="active"
      class="btn btn-lg d-flex flex-column text-white"
    >
      <span class="text-center">13-29 აპრილი</span>
      <span class="text-center">Spring Series</span>
    </button>
    <button
      routerLink="/final-stage"
      routerLinkActive="active"
      class="btn btn-lg d-flex flex-column text-white"
    >
      <span class="text-center">30 აპრილი</span>
      <span class="text-center">Final Stage</span>
    </button>
  </div>
  <section class="content m-1 m-sm-5">
    <router-outlet></router-outlet>
  </section>
  <section class="footer text-white p-3">
    <div class="info text-sm-center p-2">
      <h5>
        დამატებით შედგება,ქეშგეიმის,ტურნირების და სპინ პოკერის 12 Side
        ლიდერბორდი
      </h5>
      <p>*Side ლიდერბორდის შესახებ დეტალური ინფორმაცია იხილეთ პოკერის ლობიში</p>
    </div>
    <p class="fs-5 mt-5">წესები და პირობები</p>
    <div class="accordion text-light" id="accordionExample">
      <div class="accordion-item mt-1">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            <p class="font-monospace">
              როდის იწყება და რა ფორმატით გაიმართევა აქცია
            </p>
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            euismod nec enim a luctus. Vestibulum eu neque sed purus dictum
            molestie.
          </div>
        </div>
      </div>
      <div class="accordion-item mt-1">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <p class="font-monospace">როგორ მივიღო აქციაში მონაწილეობა?</p>
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Nullam ac nulla lacinia, bibendum quam in, faucibus enim.
            Suspendisse potenti. Integer lacinia sapien vitae leo lobortis, eget
            auctor nunc malesuada.
          </div>
        </div>
      </div>
      <div class="accordion-item mt-1">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            <p class="font-monospace">სხვადასხვა</p>
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Fusce sed tellus et dolor tristique gravida. Sed tempor tincidunt
            odio, ac rhoncus tellus aliquet sit amet. Praesent fringilla ante ac
            mi facilisis, et ultrices turpis bibendum.
          </div>
        </div>
      </div>
    </div>
    <p class="font-monospace fs-5 mt-3">მსგავსი აქციები</p>
    <div class="similar-offers">
      <img src="assets/promo-left-img.png " />
      <img src="assets/promo-left-img.png " />
      <img c src="assets/promo-left-img.png" />
      <img src="assets/promo-left-img.png" />
    </div>
  </section>
</div>
