<div id="crd" class="card">
  <div class="card-header">
    <p style="font-size: 17px" class="h5 text-center text-white">
      ტურნირები და სატელიტები
    </p>
  </div>
  <div class="card-body">
    <div class="card-wrapper py-md-3">
      <img class="img1 d-md-none" src="assets/promo-left-img-m.png" alt="" />
      <img
        class="img1 d-none d-md-block"
        src="assets/promo-left-img.png"
        alt=""
      />
      <div
        style="font-size: 15px"
        class="content d-flex flex-column text-center justify-content-center text-white"
      >
        <p>სერიის ფარგლებში ყოველდღიურად გაიმართება 3 ივენთი</p>
        <div
          class="d-flex align-self-center px-3 py-3"
          style="outline: 1px solid rgb(227, 103, 8); border-radius: 8px"
        >
          <span><img src="" alt="" /></span>
          <span>19:00</span> / <span>19:30</span> /
          <span>20:00</span>
        </div>
        <p class="d-none d-md-block">
          <small> ყველა ტურნირზე მოხვედრა შესაძლებელია 0 0-ლარიდან</small>
        </p>
        <p style="font-size: 14px" class="d-none d-md-block">
          ტურნირების სრული განრიგის სანახავად გადადი პოკერის ლობიში
        </p>
      </div>

      <img
        class="img2 d-none d-md-block"
        src="assets/promo-right-img.png"
        alt=""
      />

      <img class="img2 d-md-none" src="assets/promo-right-img-m.png" alt="" />
    </div>
  </div>
  <div class="card-footer d-block d-md-none d-flex flex-column text-white">
    <p>ყველა ტურნირზე მოხვედა შესაძლებელია 0-ლარიდან.</p>
    <p style="font-size: 13px">
      ტურნირების სრული განრიგის სანახავად გადადი პოკერის ლობიში.
    </p>
    <button
      style="width: 50%; background-color: rgb(206, 93, 1)"
      class="btn btn-sm align-self-center text-white"
    >
      პოკერის ლობი
    </button>
  </div>
</div>

<div class="card mt-4">
  <div class="card-header text-white text-center">
    მოხვდი TOP 20 ლიდერბორდში ტურნირებზე დაგროვებული ქულებით
  </div>
  <div id="points-id" class="card-body">
    <div id="points" class="rounded-pill text-white text-center">
      <p>ქულების დაგროვების მექანიკა</p>
      <img src="assets/mechanic-icon.png" alt="" />
    </div>

    <div class="ul-wrapper mt-2">
      <div id="title" class="row text-white">
        <div class="col-2 col-md-4 text-center badge text-lg-center">
          <small>ადგილი</small>
        </div>
        <div class="col-5 col-md-4 text-center text-md-center">
          <small>ვაუჩერი</small>
        </div>
        <div class="col-5 col-md-4 text-center text-md-center text-lg-center">
          <small>პრიზი</small>
        </div>
      </div>

      <div class="row eachrow rounded-pill text-white align-items-center">
        <div class="col-1 col-md-4 text-start e text-lg-center">
          <span style="font-size: 16px" class="badge badge-secondary">1</span>
        </div>
        <div class="col-4 col-md-4 text-end text-md-center">1500₾</div>
        <div class="col-6 col-md-4 text-end text-md-center text-lg-end">
          A კატეგორიის პრიზი
        </div>
      </div>

      <div class="row eachrow rounded-pill text-white align-items-center">
        <div class="col-1 col-md-4 text-start e text-lg-center">
          <span style="font-size: 16px" class="badge badge-secondary">1</span>
        </div>
        <div class="col-4 col-md-4 text-end text-md-center">1200₾</div>
        <div class="col-6 col-md-4 text-center text-md-center text-lg-end">
          B კატეგორიის პრიზი
        </div>
      </div>
      <div class="row eachrow rounded-pill text-white align-items-center">
        <div class="col-1 col-md-4 text-start e text-lg-center">
          <span style="font-size: 16px" class="badge badge-secondary">1</span>
        </div>
        <div class="col-4 col-md-4 text-end text-md-center">1000₾</div>
        <div class="col-6 col-md-4 text-center text-md-center text-lg-end">
          სპეც ტურნირის ბილეთი
        </div>
      </div>
      <div class="row eachrow rounded-pill text-white align-items-center">
        <div class="col-1 col-md-4 text-start e text-lg-center">
          <span style="font-size: 16px" class="badge badge-secondary">1</span>
        </div>
        <div class="col-4 col-md-4 text-end text-md-center">1000₾</div>
        <div class="col-6 col-md-4 text-center text-md-center text-lg-end">
          სპეც ტურნირის ბილეთი
        </div>
      </div>
      <div class="row eachrow rounded-pill text-white align-items-center">
        <div class="col-1 col-md-4 text-start e text-lg-center">
          <span style="font-size: 16px" class="badge badge-secondary">1</span>
        </div>
        <div class="col-4 col-md-4 text-end text-md-center">-</div>
        <div class="col-6 col-md-4 text-center text-md-center text-lg-end">
          სპეც ტურნირის ბილეთი
        </div>
      </div>
      <div class="row eachrow rounded-pill text-white align-items-center">
        <div class="col-1 col-md-4 text-start e text-lg-center">
          <span style="font-size: 16px" class="badge badge-secondary">1</span>
        </div>
        <div class="col-4 col-md-4 text-end text-md-center">-</div>
        <div class="col-6 col-md-4 text-center text-md-center text-lg-end">
          სპეც ტურნირის ბილეთი
        </div>
      </div>
    </div>

    <ul class="list-group list-unstyled mt-3" id="prize">
      <li class="w-100">
        <img src="assets/travel-icon-sm.png" />The Festival in Malta-ს საგზური
      </li>
      <li class="w-100">
        <img src="assets/ticket-icon-sm.png" />სპეციალური ტურნირის ,,Cashgame
        Sharks,, ბილეთი, სადაც გათამაშდება The Festival in Malta-ს საგზური
      </li>
      <li class="w-100">
        <img src="assets/mechanic-icon.png" />ტექნიკის მაღაზიის ვაუჩერი
      </li>
    </ul>
    <div class="row text-center">
      <div class="col-sm-12">
        <p style="font-size: 14px" class="text-white">
          ლიდერბორდის შედეგები განახლდება
          <span
            style="
              color: rgba(218, 109, 0, 0.807);
              text-decoration: underline;
              font-size: 14px;
            "
            >პოკერის ლობიში</span
          >
        </p>
      </div>
      <div class="col text-white">
        <p style="font-size: 15px" class="text-center font-monospace">
          *სატურნირო ლიდერბორდის ქულების დათვლაში არ მონაწილეობს ფრიროლები და
          სატელიტები
        </p>
      </div>
    </div>
  </div>
</div>

<div id="holdem-row" class="row text-center text-white mt-4 gx-2 gy-2">
  <p class="h6">ყოველდღიური ტურნირები და სატელიტები</p>
  <div class="col-md-6 col-12 holdem">
    <div class="card text-bg-dark">
      <img src="assets/tournament-bg.png" class="card-img" alt="..." />
      <div class="card-img-overlay d-flex flex-wrap justify-content-between">
        <div class="div-1" style="width: 48%; margin-bottom: 20px">
          <p>Holdem highrollers</p>
          <p style="color: rgb(209, 83, 15); font-size: 23px">50 000 ₾</p>
        </div>
        <div class="div-2" style="width: 48%; margin-bottom: 20px">
          <p>ბაი-ინი-550₾</p>
          <p>27 აპრილი</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-12 holdem">
    <div class="card">
      <img src="assets/tournament-bg2.png" class="card-img" alt="..." />
      <div class="card-img-overlay d-flex flex-wrap justify-content-between">
        <div class="" style="width: 48%; margin-bottom: 20px">
          <p>Omaha highrollers</p>
          <p style="color: rgb(209, 83, 15); font-size: 23px">50 000₾</p>
        </div>
        <div class="" style="width: 48%; margin-bottom: 20px">
          <p>ბაი-ინი-550₾</p>
          <p>28 აპრილი</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 holdem-bg">
    <div class="card">
      <img src="assets/main-bg.png" class="card-img" alt="..." />
      <div class="card-img-overlay d-flex flex-wrap justify-content-between">
        <div class="width: 48%; margin-bottom: 20px">
          <p>Main Events</p>
          <p style="color: rgb(209, 83, 15); font-size: 23px">150 000₾</p>
        </div>
        <div class="width: 48%; margin-bottom: 20px">
          <p>ბაი-ინი-550₾</p>
          <p>29 აპრილი</p>
        </div>
      </div>
    </div>
  </div>
  <p style="font-size: 14px" class="p-2 text-muted">
    * სამივე ტურნირის გამარჯვებულები მიიღებენ ბეჭდებს და ფინალურ ეტაპზე, The
    Lord Of The Rings ტურნირზე,იბრძოლებენ The Festival In Malta საგზურის
    მისაღებად
  </p>
</div>
